<html>
<head>
  <title>Campus Information</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Campus Information</h1>
  <ul>
    <li>San Diego: <%= @students_sd.length %></li>
    <li>San Francisco: <%= @students_sf.length %></li>
    <li>New York City: <%= @students_nyc.length %></li>
    <li>Chicago: <%= @students_chi.length %></li>
    <li>Seattle: <%= @students_sea.length %></li>
  </ul>

</body>
</html>



